@{
  Layout = "_Layout";
}
@using Library.Models;

<div class="container">

<div class="row">
    <div class="col-md-4">
      <h2>Add another Author to Book.Title</h2>
      <form class='form-group' action="/Book.Id/details" method="post">
      <input name = "bookId" type = "hidden" value = "Book.Id">

        <label for='newAuthor'>Author's Name</label>
        <input name='newAuthor' type='text' required><br>

        <button type='submit' class='btn btn-success'>Add</button>
      </form>
    </div>
</div>
