@{
  Layout = "_Layout";
}
@using Library.Models;

<div class="container">

<div class="row">
    <div class="col-md-4">
      <h2>Add A book</h2>
      <form class='form-group' action="/addBook" method="post">
        <label for='title'>Name:</label>
        <input title='title' type='text' required><br>

        <button type='submit' class='btn btn-success'>Add</button>
      </form>
    </div>
</div>


<h1>Catalog</h1>

<div class="col-md-8">
  <h2>Catalog</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Book</th>
        <th scope="col">Author</th>
      </tr>
    </thead>
    <tbody>
      @foreach(Catalog entry in Catalog.GetAll())
      {
        <tr>
          <td>@Book.Find(@entry.Book_Id).Title</td>
          <td>@Author.Find(@entry.Author_Id).Name</td>
        </tr>
      }
      <tr>
      </tbody>
    </table>

  </div>
</div>

</div>
